<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="public/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"</script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
   
    <script src="https://kit.fontawesome.com/aa4e7733af.js" crossorigin="anonymous"></script>
    <style>
   .cart-footer footer {
  position: fixed;
}
.iconLI{
        width: fit-content;
      }
    footer .row{
        display: flex;
    justify-content: center;
      }
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 5px 0px;
  text-align: center;
}

footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

footer .row a:hover {
  color: #fff;
}

footer .row ul {
  width: 100%;
}

footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}     
a {
  text-decoration: none;
}

ul li {
  color: black;
  font-family: Montserrat;
}

li a {
  color: black;
  font-family: Montserrat;
}

p, h1, h2, h3 {
  font-family: Montserrat;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.header-links {
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.header-login {
  width: 20%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

* {
  font-family: "Montserrat";
}
  .movieBlock {
  width: 150px;
  height: 225px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movieTitleBlock {
  color: black;
  margin-left: 15px;
  font-family: Montserrat;
}

.title-content {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
    </style>
</head>
<body>
    <div class="container">
    <div class="navbar">
        <div class="logo">
      <img src="img/logo_svg_main.svg" alt="">
      <img src="img/logo_text.svg" alt="">
  </div>
  <ul class="header-links"> 
    <li><a href="/main">Home</a></li>
    <li><a href="/API1">API 1</a></li>
    <li><a href="/Api2">API 2 </a></li>
    <li><a href="/API3">API 3</a></li>
</ul>
  <ul class="header-login"> <li><a href="/profile/<%= user._id%>">Profile</a></li>
    <li><a href="/admin">Admin Page</a></li>
  </ul>
  </div>
  <div class="container">
    <h1>User Profile</h1>
    <div>
        <p><strong>Username:</strong> <%= user.username %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <p><strong>Age:</strong> <%= user.age %></p>
        <p><strong>Country:</strong> <%= user.country %></p>
        <p><strong>Gender:</strong> <%= user.gender %></p>
    </div>
    </div>
    <footer>
        <div class="footer">
        <div class="row">
        <a href="#" class="iconLI"><i class="fa fa-facebook"></i></a>
        <a href="#" class="iconLI"><i class="fa fa-instagram"></i></a>
        <a href="#" class="iconLI"><i class="fa fa-youtube"></i></a>
        <a href="#" class="iconLI"><i class="fa fa-twitter"></i></a>
        </div>
        <p>Otarova Akniyet SE-2228</p>
        <div class="row">
        <ul>
        <li><a href="#">Contact us</a></li>
        <li><a href="explore.html">Explore</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="cart.html">Cart</a></li>
        </ul>
        </div>
        
        
        </footer>
        </div>
    </div>
</body>
</html>
